
.app-wrapper {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-areas:
  'headerName headerName'
  'navName mainName';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: headerName;
    background-color: bisque;
}

.header img {
    width: 60px;
}

.nav {
    grid-area: navName;
    background-color: bisque;
}

.main {
    grid-area: mainName;
}